body {
    font-family: 'Young Serif', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
    
header {
    background-color: rgb(14, 170, 110);
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    height: 175px;
}
main {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 510px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(14, 170, 110);
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    justify-content: space-between;
}

.action__container {
    font-size: large;
    color: #333;
    font-weight: bold;
    text-align: center;
    width: 15%;
}

.action__img {
    width: 89%;
    background-color: #333;
    padding: 5px;
    border-radius: 15%;
}

.character__container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.character__img {
    margin: auto;
    width: 470px;
    height: 700px;
}


.header__container {
    display: flex;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stats__scales {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
}

.stats__counts {
    display: flex;
    flex-direction: column;
}

.stats__health, .stats__happiness, .stats__food {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    border-radius: 15%;
    width: 30%;
    height: 80%;
    padding: 10px;
    padding-bottom: 0px;
    margin: 10px;
}

.stats__img {
    width: 40%;
    height: 40%;
    background: none;
}

  .exp__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15px;
  }
  .need__exp{
    font-size: large;
    color: #333;
    font-weight: bold;
  }
  .person__level {
    font-size: large;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #experience__meter {
    width: 100%;
    height: 50px;
    background-color: rgb(14, 170, 110);
    display: block;
  }
  
  #experience__meter::-webkit-meter-bar {
    background-color: white;
    border: none;
  }
  
  #experience__meter::-webkit-meter-optimum-value {
    background-color: black;
  }
.stats__local-money{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-align: right;
}
.stats__dollars{
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: right; 
}
#health__meter, #happiness__meter, #food__meter {
    width: 90%;
    height: 50px;
  }

  #health__meter::-webkit-meter-bar {
    background-color: white;
    border: none;
  }

  #health__meter::-webkit-meter-optimum-value {
    background-color: red;}
      
#food__meter::-webkit-meter-bar {
    background-color: white;
    border: none;
    }

#food__meter::-webkit-meter-optimum-value {
    background-color: green;}

#happiness__meter::-webkit-meter-bar {
    background-color: white;
    border: none;
    }

#happiness__meter::-webkit-meter-optimum-value {
    background-color: yellow;}

.stats__balance{
    font-size: large;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}
.stats-divider {
    border-top: 3px dashed black;
    margin-top: 0px;
    margin-bottom: 10px;
}

.no-display {
    display: none;
}

.menu__container {
    width: 95%;
    height: 95%;
    backdrop-filter: blur(15px);
    border-radius: 5%;
    padding: 10px;
    border:  2px #333 solid;
}

.menu__container > ul {
    padding: 0;
    margin: 1%;
    margin-bottom: -5px;
}

.menu__container > ul > li {
    background-color: #007BFF;
    margin: 3px;
    list-style-type: none;
    border-radius: 15px;
}
.count__days{
    font-size: large;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}
#health__items__li li button , 
#happiness__items__li li button, 
#food__items__li li button, 
#work__items__li li button, 
#study__items__li li button {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    width: 98%;
}

#health__items__li li button:hover, #happiness__items__li li button:hover, #food__items__li li button:hover, #work__items__li li button:hover, #study__items__li li button:hover {
    background-color: #0056b3;
}

#health__items__li li button:active, #happiness__items__li li button:active, #food__items__li li button:active, #work__items__li li button:active, #study__items__li li button:active {
    background-color: #004299;
}
.exit{
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    font-size: 34px;
}


#study__items__li, 
#work__items__li, 
#food__items__li, 
#health__items__li, 
#happiness__items__li {
    max-height: 95%;
    overflow: auto;
}

#study__items__li::-webkit-scrollbar,
#work__items__li::-webkit-scrollbar,
#food__items__li::-webkit-scrollbar,
#health__items__li::-webkit-scrollbar,
#happiness__items__li::-webkit-scrollbar {
    width: 12px;
}

#study__items__li::-webkit-scrollbar-thumb,
#work__items__li::-webkit-scrollbar-thumb,
#food__items__li::-webkit-scrollbar-thumb,
#health__items__li::-webkit-scrollbar-thumb,
#happiness__items__li::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 6px;
}

#study__items__li::-webkit-scrollbar-track,
#work__items__li::-webkit-scrollbar-track,
#food__items__li::-webkit-scrollbar-track,
#health__items__li::-webkit-scrollbar-track,
#happiness__items__li::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}

.bank__button {
    align-self: self-start;
    background-image: url(img/bank.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    margin-bottom: 700px;
}

.bank_exchange__container {
    margin: auto;
    margin-top: 80px;
    width: fit-content;
}

.bank__text, .casino__text{
    text-align: center;
    margin-top: 50px;
    color: #22b943;
    backdrop-filter: blur(2px);
    font-size: 30px;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

#buy__usd,
#sell__usd {
    background-color: #f1f1f1;
    width: 200px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.casino__button{
    align-self: self-start;
    background-image: url(img/casino.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin-bottom: 700px;
}

.casino__text {
    color: red;
}